.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    margin-bottom: 45px;
    border-top: solid 0.8px;
    background-color: white;

    &__adacheap {
        font-size: 14px;
        color: #707070;
        font-weight: 400;
        text-align: center;
    }

    &__logo-adalab {
        width: 120px;
    }

    @include tablet{
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-inline: 20px;
    }
    @include desktop{
        padding-inline: 200px;
    } 

}