.header {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
        
    &__logo-formular{
        margin-block: 30px;
            width: 200px;
        
        }
        @include tablet{
            flex-direction: row;
            justify-content: space-between;
            padding-inline: 20px;
        }
        @include desktop{
            padding-inline: 200px;
        } 

}
