.landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &_selection{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }
}
  

