<main>
  <section class="section">
    <form>
      <h3 class="form_title">
        <img
          class="form_image_1"
          src="../images/icono-datos-de-producto.svg"
          alt="icono producto"
        />DATOS DEL PRODUCTO<img
          class="js_form_arrow1 form_arrow"
          src="../images/angle-down.svg"
          alt="flecha desplegable"
        />
      </h3>
      <p class="form_texto-explicativo">
        Rellena aquí los datos del producto que deseas vender.
      </p>
      <div class="js_form1 form">
        <label class="form_file" for="imageUpload"
          >Selecciona tu imagen<span class="form_span">*</span></label
        >
        <input
          type="file"
          class="js_imgSelect form_file_up"
          id="imageUpload"
          name="image"
          accept="image/*"
          required
        />
        <label class="form_label" for="price"
          >Precio del producto<span class="form_span">*</span></label
        >
        <input
          class="js_inputPrice form_input"
          name="price"
          type="float"
          id="number"
          placeholder="Ejem: 25,50€"
          required
        />
        <label class="form_label" for="name"
          >Nombre del producto<span class="form_span">*</span></label
        >
        <input
          class="js_inputProduct form_input"
          name="name"
          type="text"
          id="name"
          placeholder="Ejem: Silla STYRSPEL de Ikea"
          required
        />

        <div>
          <ul class="js_colorsUl form_colorsul"></ul>
        </div>
      </div>
      <h3 class="form_title">
        <img
          class="form_image_2"
          src="../images/icono-datos-de-vendedor.svg"
          alt="icono vendedor"
        />
        CONTACTO DEL VENDEDOR<img
          class="js_form_arrow2 form_arrow"
          src="../images/flecha-abajo.svg"
          alt="flecha desplegable"
        />
      </h3>
      <p class="form_texto-explicativo">
        Rellena aquí tu información y datos de contacto.
      </p>
      <div class="js_form2 form display">
        <label class="form_label" for="name">
          Nombre Completo<span class="form_span">*</span></label
        >
        <input
          class="js_inputName form_input"
          name="name"
          type="text"
          id="name"
          placeholder="María...."
          required
        />
        <label class="form_label" for="email"
          >Email<span class="form_span">*</span></label
        >
        <input
          class="js_inputEmail form_input"
          name="email"
          class="form_email"
          type="email"
          id="email"
          placeholder="XyZ@mail.com"
          required
        />
        <label class="form_label" for="phone"
          >Teléfono<span class="form_span">*</span></label
        >
        <input
          class="js_inputPhone form_input"
          class="form_phone"
          type="tel"
          id="phone"
          placeholder="Ej: 123456789"
          required
        />
      </div>
      <p class="form_paragraph">
        <span class="form_span">*</span>Campos obligatorios
      </p>
    </form>
  </section>
  <section class="section">
    <div class="js_ProductContainer container">
      <img
        class="js_cardImage container_img"
        src="../images/7100TzCYGNL.__AC_SX300_SY300_QL70_ML2_.jpg"
        alt="silla rosa"
      />
      <p class="js_cardPrice container_price">0,00€</p>
      <p class="js_cardName container_name">Nombre del producto:</p>
      <p class="js_sellerName container_seller">Nombre del vendedor:</p>

      <section class="container_icon-section">
        <img
          class="js_iconEmail container_iconContact"
          src="../images/mail-icon.svg"
          alt="icono email"
        />
        <img
          class="js_iconPhone container_iconContact"
          src="../images/call-icon.svg"
          alt="icono telefono"
        />
      </section>
    </div>
  </section>
  <section class="form_button">
    <input
      class="js_button form_buttonSub"
      type="submit"
      value="AÑADIR PRODUCTO"
    />
    <div class="border">
      <h3 class="list">TUS PRODUCTOS</h3>
      <ul class="js_productList listProduct"></ul>
      <input
        class="js_buttonDelet list_Delet"
        type="butt"
        value="BORRAR PRODUCTOS"
      />
    </div>
  </section>
</main>
