<main>
  <section class="section">
    <form>
      <h3 class="form_title">
        <img
          class="form_image_1"
          src="../images/icono-datos-de-producto.svg"
          alt="icono producto"
        />DATOS DEL PRODUCTO<img src="../images/angle-down.svg" />
      </h3>

      <div class="form">
        <label class="form_file" for="imageUpload"
          >Selecciona tu imagen<span class="form_span">*</span></label
        >
        <input
          type="file"
          class="form_file_up"
          id="imageUpload"
          name="image"
          accept="image/*"
          required
        />
      </div>
      <div class="form">
        <label class="form_label" for="price"
          >Precio del producto<span class="form_span">*</span></label
        >
        <input
          class="form_input"
          name="price"
          type="number"
          id="number"
          placeholder="Ejem: 25,50€"
          required
        />
      </div>
      <div class="form">
        <label class="form_label" for="name"
          >Nombre del producto<span class="form_span">*</span></label
        >
        <input
          class="form_input"
          name="name"
          type="text"
          id="name"
          placeholder="Ejem: Silla STYRSPEL de Ikea"
          required
        />
      </div>
      <h3 class="form_title">
        <img
          class="form_image_2"
          src="../images/icono-datos-de-vendedor.svg"
          alt="icono vendedor"
        />
        CONTACTO DEL VENDEDOR
      </h3>
      <div class="form">
        <label class="form_label" for="name">
          Nombre Completo<span class="form_span">*</span></label
        >
        <input
          class="form_input"
          name="name"
          type="text"
          id="name"
          placeholder="María...."
          required
        />
      </div>
      <div class="form">
        <label class="form_label" for="email"
          >Email<span class="form_span">*</span></label
        >
        <input
          class="form_input"
          name="email"
          class="form_email"
          type="email"
          id="email"
          placeholder="XyZ@mail.com"
          required
        />
      </div>
      <div class="form">
        <label class="form_label" for="phone">Teléfono</label>
        <input
          class="form_input"
          class="form_phone"
          type="tel"
          id="phone"
          placeholder="Ej: 123456789"
        />

        <input class="form_button" type="submit" value="AÑADIR PRODUCTO" />
      </div>

      <p class="form_paragraph">
        <span class="form_span">*</span>Campos obligatorios
      </p>
    </form>
  </section>
  <section class="section">
    <div class="container">
      <img
        class="container_img"
        src="../images/7100TzCYGNL.__AC_SX300_SY300_QL70_ML2_.jpg"
        alt="silla rosa"
      />
      <p class="container_price"></p>
      <p class="container_name"></p>
    </div>
  </section>
</main>
